<div class="center-div" id="fond">
    <div class="p-grid">
        <div class="p-col-12">
            <h2><img src="./assets/images/logo3_resize.png" alt=""></h2>
            <h2> Connexion :</h2>
        </div>
        <div class="p-col-12">
            <form action="" class="center-div">
                E-mail : <br>
                <input type="email" pInputText placeholder="mail@easycomposer.com" />
                <br> Mot de passe : <br><input type="password" pPassword /><br><br>
                <button pButton type="button" label="Connexion" icon="pi pi-sign-in"></button>
                <button pButton type="button" label="Register" class="ui-button-info" routerLink='/register' icon="pi pi-user-plus"></button>
            </form>
        </div>
    </div>
</div>