<div class="center-div">
    <div class="p-grid">
        <div class="p-col-12">
            <h2><img src="./assets/images/logo3_resize.png" alt=""></h2>
            <h2> Création de compte :</h2>
        </div>
        <div class="p-col-12">
            <form action="" class="center-div">
                E-mail* : <br>
                <input type="email" pInputText placeholder="mail@easycomposer.com" />
                <br> Mot de passe* : <br><input type="password" pPassword /><br> Confirmer le mot de passe* : <br><input type="password" pPassword /><br> Nom d'utilisateur* : <br>
                <input type="text" pInputText /><br><br>
                <button pButton type="button" label="Créer" icon="pi pi-user-plus"></button>
                <button pButton type="button" label="Annuler" class="ui-button-danger" routerLink='/login' icon="pi pi-times"></button>
            </form>
        </div>
    </div>
</div>