<div class="p-grid">
    <div class="p-col-12">
        <h2>Mon Compte : </h2>
    </div>

    <div class="p-col-12">
        <form action="">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">E-mail :</span>
                        <button pButton type="button" icon="pi pi-pencil" label="Modifier" class="ui-button-warning" style="float: right;"></button>
                    </div>
                </p-header>
                E-mail actuel :
                <input type="email" pInputText placeholder="mail@easycomposer.com" /><br> Nouvel e-mail :
                <input type="email" pInputText placeholder="mail@easycomposer.com" />
                <p-footer>
                    <button pButton type="button" icon="pi pi-save" label="Sauvegarder" class="ui-button-info" style="margin-right: .25em"></button>
                    <p-message severity="success" text="Votre nouvelle adresse e-mail a bien été enregistrée !"></p-message>
                    <p-message severity="error" text="L'adresse e-mail saisie n'est pas valide !"></p-message>
                </p-footer>
            </p-panel>
        </form>
    </div>

    <div class="p-col-12">
        <form action="">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nom d'utilisateur :</span>
                        <button pButton type="button" icon="pi pi-pencil" label="Modifier" class="ui-button-warning" style="float: right;"></button>
                    </div>
                </p-header>
                Nom d'utilisateur actuel :
                <input type="text" pInputText placeholder=" mail@easycomposer.com " /> <br> Nouveau nom d'utilisateur :
                <input type="text" pInputText placeholder="mail@easycomposer.com" />
                <p-footer>
                    <button pButton type="button" icon="pi pi-save" label="Sauvegarder" class="ui-button-info" style="margin-right: .25em"></button>
                    <p-message severity="success" text="Votre nouveau nom d'utilisateur a bien été enregistrée !"></p-message>
                    <p-message severity="error" text="erreur !"></p-message>
                </p-footer>
            </p-panel>
        </form>
    </div>

    <div class="p-col-12">
        <form action="">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Mot de passe :</span>
                        <button pButton type="button" icon="pi pi-pencil" label="Modifier" class="ui-button-warning" style="float: right;"></button>
                    </div>
                </p-header>
                Mot de passe actuel :
                <input type="password" pPassword /> <br> Nouveau mot de passe : <input type="password" pPassword /><br> Confirmer le mot de passe :
                <input type="password" pPassword />
                <p-footer>
                    <button pButton type="button" icon="pi pi-save" label="Sauvegarder" class="ui-button-info" style="margin-right: .25em"></button>
                    <p-message severity="success" text="Votre nouveau mot de passe a bien été pris en compte !"></p-message>
                    <p-message severity="error" text="Mot de passe incorecte !"></p-message>
                </p-footer>
            </p-panel>
        </form>
    </div>

    <div class="p-col-12">
        <form action="">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nous vous écoutons </span>
                    </div>
                </p-header>
                <p-rating [(ngModel)]="note"></p-rating>
                <div class="ui-grid-col-4">
                    <p-dropdown [options]="sexe"></p-dropdown>
                    <!--formControlName="" -->
                </div>
                <div class="ui-grid-col-4">
                    <p-dropdown [options]="age"></p-dropdown>
                    <!--formControlName="" -->
                </div>
                <div class="ui-grid-col-4">
                    <p-dropdown [options]="experience"></p-dropdown>
                    <!--formControlName="" -->
                </div>

                <textarea pInputTextarea placeholder="Donnez-nous votre avis ;-)" id="texte-avi"></textarea>
                <p-footer>
                    <button pButton type="button" icon="pi pi-upload" label="Envoyer" class="ui-button-info" style="margin-right: .25em"></button>
                    <p-message severity="success" text="Merci d'avoir donné votre avi !"></p-message>
                </p-footer>
            </p-panel>
        </form>
    </div>

</div>