<h1>Note suggérée : <label *ngFor="let note of listNotes"> {{note.nom}} </label></h1>
<div class="item selected">
    <table class="fretboard">
        <caption>Manche de guitare : </caption>
        <thead>
            <tr>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="s0 f00">
                    <div><label for="E3" id="E3" (click)="recupererNote('E3')">E</label></div>
                </td>
                <td class="s0 f01">
                    <div><label for="F3" id="F3" (click)="recupererNote('F3')">F</label></div>
                </td>
                <td class="s0 f02">
                    <div><label for="Gb3" id="Gb3" (click)="recupererNote('Gb3')">Gb</label></div>
                </td>
                <td class="s0 f03">
                    <div><label for="G3" id="G3" (click)="recupererNote('G3')">G</label></div>
                </td>
                <td class="s0 f04">
                    <div>
                        <label for="Ab3" id="Ab3" (click)="recupererNote('Ab3')">Ab</label></div>
                </td>
                <td class="s0 f05">
                    <div><label for="A3" id="A3" (click)="recupererNote('A3')">A</label></div>
                </td>
                <td class="s0 f06">
                    <div><label for="Bb3" id="Bb3" (click)="recupererNote('Bb3')">Bb</label></div>
                </td>
                <td class="s0 f07">
                    <div><label for="B3" id="B3" (click)="recupererNote('B')">B</label></div>
                </td>
                <td class="s0 f08">
                    <div><label for="C4" id="C4" (click)="recupererNote('C4')">C</label></div>
                </td>
                <td class="s0 f09">
                    <div><label for="Db4" id="Db4" (click)="recupererNote('Db4')">Db</label></div>
                </td>
                <td class="s0 f10">
                    <div><label for="D4" id="D4" (click)="recupererNote('D4')">D</label></div>
                </td>
                <td class="s0 f11">
                    <div><label for="Eb4" id="Eb4" (click)="recupererNote('Eb4')">Eb</label></div>
                </td>
                <td class="s0 f12">
                    <div><label for="E4" id="E4" (click)="recupererNote('E4')">E</label></div>
                </td>
                <td class="s0 f13">
                    <div><label for="F4" id="F4" (click)="recupererNote('F4')">F</label></div>
                </td>
                <td class="s0 f14">
                    <div><label for="Gb4" id="Gb4" (click)="recupererNote('Gb4')">Gb</label></div>
                </td>
                <td class="s0 f15">
                    <div><label for="G4" id="G4" (click)="recupererNote('G4')">G</label></div>
                </td>
                <td class="s0 f16">
                    <div><label for="Ab4" id="Ab4" (click)="recupererNote('Ab4')">Ab</label></div>
                </td>
                <td class="s0 f17">
                    <div><label for="A4" id="A4" (click)="recupererNote('A4')">A</label></div>
                </td>
                <td class="s0 f18">
                    <div><label for="Bb4" id="Bb4" (click)="recupererNote('Bb4')">Bb</label></div>
                </td>
                <td class="s0 f19">
                    <div><label for="B4" id="B4" (click)="recupererNote('B4')">B</label></div>
                </td>
                <td class="s0 f20">
                    <div><label for="C5" id="C5" (click)="recupererNote('C5')">C</label></div>
                </td>
                <td class="s0 f21">
                    <div><label for="Db5" id="Db5" (click)="recupererNote('Db5')">Db</label></div>
                </td>
            </tr>
            <tr>
                <td class="s1 f00">
                    <div><label for="B2" id="B2" (click)="recupererNote('B2')">B</label></div>
                </td>
                <td class="s1 f01">
                    <div><label for="C3" id="C3" (click)="recupererNote('C3')">C</label></div>
                </td>
                <td class="s1 f02">
                    <div><label for="Db3" id="Db3" (click)="recupererNote('Db3')">Db</label></div>
                </td>
                <td class="s1 f03">
                    <div><label for="D3" id="D3" (click)="recupererNote('D3')">D</label></div>
                </td>
                <td class="s1 f04">
                    <div><label for="Eb3" id="Eb3" (click)="recupererNote('Eb3')">Eb</label></div>
                </td>
                <td class="s1 f05">
                    <div><label for="E3" id="E3" (click)="recupererNote('E3')">E</label></div>
                </td>
                <td class="s1 f06">
                    <div><label for="F3" id="F3" (click)="recupererNote('F3')">E</label></div>
                </td>
                <td class="s1 f07">
                    <div><label for="Gb3" id="Gb3" (click)="recupererNote('Gb3')">Gb</label></div>
                </td>
                <td class="s1 f08">
                    <div><label for="G3" id="G3" (click)="recupererNote('G3')">G</label></div>
                </td>
                <td class="s1 f09">
                    <div><label for="Ab3" id="Ab3" (click)="recupererNote('Ab3')">Ab</label></div>
                </td>
                <td class="s1 f10">
                    <div><label for="A3" id="A3" (click)="recupererNote('A3')">A</label></div>
                </td>
                <td class="s1 f11">
                    <div><label for="Bb3" id="Bb3" (click)="recupererNote('Bb3')">Bb</label></div>
                </td>
                <td class="s1 f12">
                    <div><label for="B3" id="B3" (click)="recupererNote('B3')">B</label></div>
                </td>
                <td class="s1 f13">
                    <div><label for="C4" id="C4" (click)="recupererNote('C4')">C</label></div>
                </td>
                <td class="s1 f14">
                    <div><label for="Db4" id="Db4" (click)="recupererNote('Db4')">Db</label></div>
                </td>
                <td class="s1 f15">
                    <div><label for="D4" id="D4" (click)="recupererNote('D4')">D</label></div>
                </td>
                <td class="s1 f16">
                    <div><label for="Eb4" id="Eb4" (click)="recupererNote('Eb4')">Eb</label></div>
                </td>
                <td class="s1 f17">
                    <div><label for="E4" id="E4" (click)="recupererNote('E4')">E</label></div>
                </td>
                <td class="s1 f18">
                    <div><label for="F4" id="F4" (click)="recupererNote('F4')">F</label></div>
                </td>
                <td class="s1 f19">
                    <div><label for="Gb4" id="Gb4" (click)="recupererNote('Gb4')">Gb</label></div>
                </td>
                <td class="s1 f20">
                    <div><label for="G4" id="G4" (click)="recupererNote('G4')">G</label></div>
                </td>
                <td class="s1 f21">
                    <div><label for="Ab4" id="Ab4" (click)="recupererNote('Ab4')">Ab</label></div>
                </td>
            </tr>
            <tr>
                <td class="s2 f00">
                    <div><label for="G2" id="G2" (click)="recupererNote('G2')">G</label></div>
                </td>
                <td class="s2 f01">
                    <div><label for="Ab2" id="Ab2" (click)="recupererNote('Ab2')">Ab</label></div>
                </td>
                <td class="s2 f02">
                    <div><label for="A2" id="A2" (click)="recupererNote('A2')">A</label></div>
                </td>
                <td class="s2 f03">
                    <div><label for="Bb2" id="Bb2" (click)="recupererNote('Bb2')">Bb</label></div>
                </td>
                <td class="s2 f04">
                    <div><label for="B2" id="B2" (click)="recupererNote('B2')">B</label></div>
                </td>
                <td class="s2 f05">
                    <div><label for="C3" id="C3" (click)="recupererNote('C3')">C</label></div>
                </td>
                <td class="s2 f06">
                    <div><label for="Db3" id="Db3" (click)="recupererNote('Db3')">Db</label></div>
                </td>
                <td class="s2 f07">
                    <div><label for="D3" id="D3" (click)="recupererNote('D3')">D</label></div>
                </td>
                <td class="s2 f08">
                    <div><label for="Eb3" id="Eb3" (click)="recupererNote('Eb3')">Eb</label></div>
                </td>
                <td class="s2 f09">
                    <div><label for="E3" id="E3" (click)="recupererNote('E3')">E</label></div>
                </td>
                <td class="s2 f10">
                    <div><label for="F3" id="F3" (click)="recupererNote('F3')">F</label></div>
                </td>
                <td class="s2 f11">
                    <div><label for="Gb3" id="Gb3" (click)="recupererNote('Gb3')">Gb</label></div>
                </td>
                <td class="s2 f12">
                    <div><label for="G3" id="G3" (click)="recupererNote('G3')">G</label></div>
                </td>
                <td class="s2 f13">
                    <div><label for="Ab3" id="Ab3" (click)="recupererNote('Ab3')">Ab</label></div>
                </td>
                <td class="s2 f14">
                    <div><label for="A3" id="A3" (click)="recupererNote('A3')">A</label></div>
                </td>
                <td class="s2 f15">
                    <div><label for="Bb3" id="Bb3" (click)="recupererNote('Bb3')">Bb</label></div>
                </td>
                <td class="s2 f16">
                    <div><label for="B3" id="B3" (click)="recupererNote('B3')">B</label></div>
                </td>
                <td class="s2 f17">
                    <div><label for="C4" id="C4" (click)="recupererNote('C4')">C</label></div>
                </td>
                <td class="s2 f18">
                    <div><label for="Db4" id="Db4" (click)="recupererNote('Db4')">Db</label></div>
                </td>
                <td class="s2 f19">
                    <div><label for="D4" id="D4" (click)="recupererNote('D4')">D</label></div>
                </td>
                <td class="s2 f20">
                    <div><label for="Eb4" id="Eb4" (click)="recupererNote('Eb4')">Eb</label></div>
                </td>
                <td class="s2 f21">
                    <div><label for="E4" id="E4" (click)="recupererNote('E4')">E</label></div>
                </td>
            </tr>
            <tr>
                <td class="s3 f00">
                    <div><label for="D2" id="D2" (click)="recupererNote('D2')">D</label></div>
                </td>
                <td class="s3 f01">
                    <div><label for="Eb2#" id="Eb2" (click)="recupererNote('Eb2')">Eb</label></div>
                </td>
                <td class="s3 f02">
                    <div><label for="E2" id="E2" (click)="recupererNote('E2')">E</label></div>
                </td>
                <td class="s3 f03">
                    <div><label for="F2" id="F2" (click)="recupererNote('F2')">F</label></div>
                </td>
                <td class="s3 f04">
                    <div><label for="Gb2" id="Gb2" (click)="recupererNote('Gb2')">Gb</label></div>
                </td>
                <td class="s3 f05">
                    <div><label for="G2" id="G2" (click)="recupererNote('G2')">G</label></div>
                </td>
                <td class="s3 f06">
                    <div><label for="Ab2" id="Ab2" (click)="recupererNote('Ab2')">Ab</label></div>
                </td>
                <td class="s3 f07">
                    <div><label for="A2" id="A2" (click)="recupererNote('A2')">A</label></div>
                </td>
                <td class="s3 f08">
                    <div><label for="Bb2" id="Bb2" (click)="recupererNote('Bb2')">Bb</label></div>
                </td>
                <td class="s3 f09">
                    <div><label for="Db2#" id="Db2" (click)="recupererNote('Db2')">Db</label></div>
                </td>
                <td class="s3 f10">
                    <div><label for="C3" id="C3" (click)="recupererNote('C3')">C</label></div>
                </td>
                <td class="s3 f11">
                    <div><label for="Db3" id="Db3" (click)="recupererNote('Db3')">Db</label></div>
                </td>
                <td class="s3 f12">
                    <div><label for="D3" id="D3" (click)="recupererNote('D3')">D</label></div>
                </td>
                <td class="s3 f13">
                    <div><label for="Eb3" id="Eb3" (click)="recupererNote('Eb3')">Eb</label></div>
                </td>
                <td class="s3 f14">
                    <div><label for="E3" id="E3" (click)="recupererNote('E3')">E</label></div>
                </td>
                <td class="s3 f15">
                    <div><label for="F3" id="F3" (click)="recupererNote('F3')">F</label></div>
                </td>
                <td class="s3 f16">
                    <div><label for="Gb3" id="Gb3" (click)="recupererNote('Gb3')">Gb</label></div>
                </td>
                <td class="s3 f17">
                    <div><label for="G3" id="G3" (click)="recupererNote('G3')">G</label></div>
                </td>
                <td class="s3 f18">
                    <div><label for="Ab3" id="Ab3" (click)="recupererNote('Ab3')">Ab</label></div>
                </td>
                <td class="s3 f19">
                    <div><label for="A3" id="A3" (click)="recupererNote('A3')">A</label></div>
                </td>
                <td class="s3 f20">
                    <div><label for="Bb3" id="Bb3" (click)="recupererNote('Bb3')">Bb</label></div>
                </td>
                <td class="s3 f21">
                    <div><label for="B3" id="B3" (click)="recupererNote('B3')">B</label></div>
                </td>
            </tr>
            <tr>
                <td class="s4 f00">
                    <div><label for="A1" id="A1" (click)="recupererNote('A1')">A</label></div>
                </td>
                <td class="s4 f01">
                    <div><label for="Bb1" id="Bb1" (click)="recupererNote('Bb1')">Bb</label></div>
                </td>
                <td class="s4 f02">
                    <div><label for="B1" id="B1" (click)="recupererNote('B1')">B</label></div>
                </td>
                <td class="s4 f03">
                    <div><label for="C2" id="C2" (click)="recupererNote('C2')">C</label></div>
                </td>
                <td class="s4 f04">
                    <div><label for="Db2#" id="Db2" (click)="recupererNote('Db2')">Db</label></div>
                </td>
                <td class="s4 f05">
                    <div><label for="D2" id="D2" (click)="recupererNote('D2')">D</label></div>
                </td>
                <td class="s4 f06">
                    <div><label for="Eb2" id="Eb2" (click)="recupererNote('Eb2')">Eb</label></div>
                </td>
                <td class="s4 f07">
                    <div><label for="E2" id="E2" (click)="recupererNote('E2')">E</label></div>
                </td>
                <td class="s4 f08">
                    <div><label for="F2" id="F2" (click)="recupererNote('F2')">F</label></div>
                </td>
                <td class="s4 f09">
                    <div><label for="Gb2" id="Gb2" (click)="recupererNote('Gb2')">Gb</label></div>
                </td>
                <td class="s4 f10">
                    <div><label for="G2" id="G2" (click)="recupererNote('G2')">G</label></div>
                </td>
                <td class="s4 f11">
                    <div><label for="Ab2" id="Ab2" (click)="recupererNote('Ab2')">Ab</label></div>
                </td>
                <td class="s4 f12">
                    <div><label for="A2" id="A2" (click)="recupererNote('A2')">A</label></div>
                </td>
                <td class="s4 f13">
                    <div><label for="Bb2" id="Bb2" (click)="recupererNote('Bb2')">Bb</label></div>
                </td>
                <td class="s4 f14">
                    <div><label for="B2" id="B2" (click)="recupererNote('B2')">B</label></div>
                </td>
                <td class="s4 f15">
                    <div><label for="C3" id="C3" (click)="recupererNote('C3')">C</label></div>
                </td>
                <td class="s4 f16">
                    <div><label for="Db3" id="Db3" (click)="recupererNote('Db3')">Db</label></div>
                </td>
                <td class="s4 f17">
                    <div><label for="D3" id="D3" (click)="recupererNote('D3')">D</label></div>
                </td>
                <td class="s4 f18">
                    <div><label for="Eb3" id="Eb3" (click)="recupererNote('Eb3')">Eb</label></div>
                </td>
                <td class="s4 f19">
                    <div><label for="E3" id="E3" (click)="recupererNote('E3')">E</label></div>
                </td>
                <td class="s4 f20">
                    <div><label for="F3" id="F3" (click)="recupererNote('F3')">F</label></div>
                </td>
                <td class="s4 f21">
                    <div><label for="Gb3" id="Gb3" (click)="recupererNote('Gb3')">Gb</label></div>
                </td>
            </tr>
            <tr>
                <td class="s5 f00">
                    <div><label for="E1" id="E1" (click)="recupererNote('E1')">E</label></div>
                </td>
                <td class="s5 f01">
                    <div><label for="F1" id="F1" (click)="recupererNote('F1')">F</label></div>
                </td>
                <td class="s5 f02">
                    <div><label for="Gb1" id="Gb1" (click)="recupererNote('Gb1')">Gb</label></div>
                </td>
                <td class="s5 f03">
                    <div><label for="G1" id="G1" (click)="recupererNote('G1')">G</label></div>
                </td>
                <td class="s5 f04">
                    <div><label for="Ab1" id="Ab1" (click)="recupererNote('Ab1')">Ab</label></div>
                </td>
                <td class="s5 f05">
                    <div><label for="A1" id="A1" (click)="recupererNote('A1')">A</label></div>
                </td>
                <td class="s5 f06">
                    <div><label for="Bb1" id="Bb1" (click)="recupererNote('Bb1')">Bb</label></div>
                </td>
                <td class="s5 f07">
                    <div><label for="B1" id="B1" (click)="recupererNote('B1')">B</label></div>
                </td>
                <td class="s5 f08">
                    <div><label for="C2" id="C2" (click)="recupererNote('C2')">C</label></div>
                </td>
                <td class="s5 f09">
                    <div><label for="Db2" id="Db2" (click)="recupererNote('Db2')">Db</label></div>
                </td>
                <td class="s5 f10">
                    <div><label for="D2" id="D2" (click)="recupererNote('D2')">D</label></div>
                </td>
                <td class="s5 f11">
                    <div><label for="Eb2" id="Eb2" (click)="recupererNote('Eb2')">Eb</label></div>
                </td>
                <td class="s5 f12">
                    <div><label for="E2" id="E2" (click)="recupererNote('E2')">E</label></div>
                </td>
                <td class="s5 f13">
                    <div><label for="F2" id="F2" (click)="recupererNote('F2')">F</label></div>
                </td>
                <td class="s5 f14">
                    <div><label for="Gb2" id="Gb2" (click)="recupererNote('Gb2')">Gb</label></div>
                </td>
                <td class="s5 f15">
                    <div><label for="G2" id="G2" (click)="recupererNote('G2')">G</label></div>
                </td>
                <td class="s5 f16">
                    <div><label for="Ab2" id="Ab2" (click)="recupererNote('Ab2')">Ab</label></div>
                </td>
                <td class="s5 f17">
                    <div><label for="A2" id="A2" (click)="recupererNote('A2')">A</label></div>
                </td>
                <td class="s5 f18">
                    <div><label for="Bb2" id="Bb2" (click)="recupererNote('Bb2')">Bb</label></div>
                </td>
                <td class="s5 f19">
                    <div><label for="B2" id="B2" (click)="recupererNote('B2')">B</label></div>
                </td>
                <td class="s5 f20">
                    <div><label for="C3" id="C3" (click)="recupererNote('C3')">C</label></div>
                </td>
                <td class="s5 f21">
                    <div><label for="Db3" id="Db3" (click)="recupererNote('Db3')">Db</label></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p-toast position="top-center" (onClose)="onReject()" class="toast"></p-toast>
        <br>
        <button pButton type="button" label="Ecoute" (click)="listen()" [disabled]=!isActivated></button>
        <button pButton type="button" label="Mute" class="ui-button-danger" (click)="mute()" [disabled]="isActivated"></button>
        <br>
        <p-dropdown [options]="gammes" (onChange)="selectedGamme($event)"></p-dropdown>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <form>
                <h4>Note sélectionné : {{noteSelect}} </h4>
                <!-- <p-dropdown [options]="gammes" (onChange)="selectedGamme($event)"></p-dropdown> -->
                <button pButton type="button" label="Soumettre la note" class="ui-button-success" (click)="onSoumettreBack()"></button>
            </form>
        </div>
        <div class="ui-g-6">
            <div *ngIf="!isActivated">
                <form>
                    <h4>Note détecté : {{noteDetectedEcoute}} | Fréquence : {{frequenceDetected}} Hz </h4>
                </form>
            </div>
        </div>
    </div>
    <p-accordion [multiple]="true" *ngFor="let historique of historiques">
        <p-accordionTab header="Note joué n°{{historique.index}}">
            Note : <label>{{historique.note}}</label><br> Gamme : <label>{{historique.gamme}}</label><br> Notes suggérées : <label>{{historique.listeNotes}}</label>
        </p-accordionTab>
    </p-accordion>
</div>